@model List<panasonic.Models.MaterialRequest>

@{
    ViewData["PanelTitle"] = "Material Request List";
}

@section PanelButtons {
    @if (ViewBag.Role == "AsistantLeader")
    {
        <a class="btn btn-success btn-round" asp-controller="MaterialRequest" asp-action="Create">Create Material Request</a>
    }
}

<div class="card">
    <div class="card-body">
        @switch (ViewBag.Role)
        {
            case "ShiftLeader":
                {
                    <partial name="~/Views/Shared/Components/MaterialRequest/Table/_ShiftLeader.cshtml" model="@Model" />
                }
                break;
            case "AsistantLeader":
                {
                    <partial name="~/Views/Shared/Components/MaterialRequest/Table/_AsistantLeader.cshtml" model="@Model" />
                }
                break;
            case "StoreManager":
                {
                    <partial name="~/Views/Shared/Components/MaterialRequest/Table/_StoreManager.cshtml" model="@Model" />

                }
                break;
        }



    </div>
</div>
