@model List<panasonic.Models.MaterialRequest>

@{
    ViewData["PanelTitle"] = "Material Request List";
}

@section PanelButtons {
    @switch (ViewBag.Role)
    {
        case ("AsistantLeader"):
            <a class="btn btn-success btn-round" asp-controller="MaterialRequest" asp-action="Create">Create Material Request</a>
            <a class="btn btn-success btn-round text-white" data-bs-toggle="modal" data-bs-target="#scan-modal">Scan Here</a>
            break;

        case ("StoreManager"):
            <a class="btn btn-primary btn-round" asp-controller="MaterialInventory" asp-action="Send">Send Material</a>
            break;
    }
}

<div class="card">
    <div class="card-body">
        <div class="table-responsive">
            @switch (ViewBag.Role)
            {
                case "ShiftLeader":
                    {
                        <partial name="~/Views/Shared/Components/MaterialRequest/Table/_ShiftLeader.cshtml" model="@Model" />
                    }
                    break;
                case "AsistantLeader":
                    {
                        <partial name="~/Views/Shared/Components/MaterialRequest/Table/_AsistantLeader.cshtml" model="@Model" />
                    }
                    break;
                case "StoreManager":
                    {
                        <partial name="~/Views/Shared/Components/MaterialRequest/Table/_StoreManager.cshtml" model="@Model" />
                    }
                    break;
            }
        </div>

    </div>
</div>

@section Scripts
{
    <script>
        $('#multi-filter-select').DataTable({
            "pageLength": 5,
            initComplete: function () {
                this.api().columns().every(function () {
                    var column = this;
                    var select = $('')
                        .appendTo($(column.footer()).empty())
                        .on('change', function () {
                            var val = $.fn.dataTable.util.escapeRegex(
                                $(this).val()
                            );

                            column
                                .search(val ? '^' + val + '$' : '', true, false)
                                .draw();
                        });

                    column.data().unique().sort().each(function (d, j) {
                        select.append('' + d + '')
                    });
                });
            }
        });
    </script>
}
