@model panasonic.ViewModels.LoginViewModel;

@{
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
    ViewData["Title"] = "Login";
}


<form class="mb-2" asp-action="Login" method="post">
    @if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success">
            @TempData["SuccessMessage"]
        </div>
    }


    @if (ViewData.ModelState.ContainsKey(string.Empty) &&
    ViewData.ModelState[string.Empty].Errors.Count > 0)
    {
        <div class="text-danger">
            @foreach (var error in ViewData.ModelState[string.Empty].Errors)
            {
                <p>@error.ErrorMessage</p>
            }
        </div>
    }

    <div class="mb-2">
        <input type="number" id="employeeId" class="form-control" asp-for="UserLoginDto.EmployeeID" required
            placeholder="Employee Id">
        <span asp-validation-for="UserLoginDto.EmployeeID" class="text-danger form-text"></span>
    </div>
    <div class="mb-2">
        <input type="password" id="password" class="form-control" asp-for="UserLoginDto.Password" required
            placeholder="Password">
        <span asp-validation-for="UserLoginDto.Password" class="text-danger form-text"></span>
    </div>
    <button type="submit" class="btn btn-primary w-100">Log In</button>
</form>
<span>Don't have an account? <a asp-action="Register" class="link-primary">Register</a> here</span>