@model panasonic.ViewModels.LoginViewModel;

@{
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
    ViewData["Title"] = "Login";
}

<div class="card mx-auto mt-5" style="width: 25rem;">
    <div class="card-header bg-primary">
        <p class="card-title text-center fw-bold text-white">PANASONIC</p>
    </div>
    <div class="card-body">
        <form class="mb-2" asp-action="Login" method="post">
            @if (TempData["SuccessMessage"] != null)
            {
                <div class="alert alert-success">
                    @TempData["SuccessMessage"]
                </div>
            }


            @if (ViewBag.Message != null)
            {

                <div class="alert alert-danger">
                    @ViewBag.Message
                </div>
            }
            <div class="mb-2">
                <input type="number" class="form-control" asp-for="EmployeeID" placeholder="Employee ID">
                <span asp-validation-for="EmployeeID" class="text-danger"></span>

            </div>
            <div class="mb-2">
                <input type="password" class="form-control" asp-for="Password" placeholder="Password">
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary w-100">Log In</button>
        </form>
        <span>Don't have an account? <a asp-action="Register" class="link-primary">Register</a> here</span>
    </div>
</div>