@model panasonic.ViewModels.LoginViewModel;

@{
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
    ViewData["Title"] = "Login";
}


<form class="mb-2" asp-action="Login" method="post">
    @if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success">
            @TempData["SuccessMessage"]
        </div>
    }


    @if (ViewBag.Message != null)
    {
        <div class="border-danger">
            @ViewBag.Message
        </div>
    }
    <div class="mb-2">
        <input type="number" id="employeeId" class="form-control" asp-for="EmployeeID" placeholder="Employee Id">
        <span asp-validation-for="EmployeeID" class="text-danger"></span>
    </div>
    <div class="mb-2">
        <input type="password" id="password" class="form-control" asp-for="Password" placeholder="Password">
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary w-100">Log In</button>
</form>
<span>Don't have an account? <a asp-action="Register" class="link-primary">Register</a> here</span>