<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>@ViewData["Title"] - panasonic</title>
  <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
  <link rel="stylesheet" href="~/panasonic.styles.css" asp-append-version="true" />
</head>

<body class="bg-light">
  <partial name="_Navbar" />
  <div class="d-flex">
    @* <partial name="_Drawer" /> *@
    <main role="main" class="pb-3 px-4 w-100">@RenderBody()</main>
  </div>

  <footer class="border-top footer text-muted">
    <div class="container">
      &copy; 2024 - panasonic -
      <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
  </footer>
  <script defer type="module">
    $('#menu-btn').click(() => {
      $('#drawer').toggleClass('active')
    })
  </script>
  <script src="~/lib/jquery/dist/jquery.min.js"></script>
  <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="~/js/site.js" asp-append-version="true"></script>
  @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
