@model panasonic.ViewModels.AreaViewModel.ManageViewModel;

@{
    ViewData["PanelTitle"] = "Area Access";
}

<div class="card">

    <div class="card-body">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Employee ID</th>
                    <th>Full Name</th>
                    <th>Role</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>

                @foreach (var user in @Model.area.Users)
                {
                    <tr>
                        <td>@user.EmployeeID</td>
                        <td>@user.Fullname</td>
                        <td>@user.Role.DisplayName</td>
                        <td>
                            <button class="btn btn-danger">Revoke</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>