@model List<panasonic.Models.Material>;

@{
	ViewData["PanelTitle"] = "Materials In Store";
}

@section PanelButtons {
	<a class="btn btn-success btn-round" asp-controller="store" asp-action="CreateMaterialStock">Add Stock</a>
}

<div class="card">
	<div class="card-body">

		@foreach (var material in @Model)
		{
			<div class="accordion accordion-secondary">
				<div class="card">
					<div class="card-header" id="headingOne" data-toggle="collapse" data-target="#collapseOne"
						aria-expanded="true" aria-controls="collapseOne">
						<div class="span-icon">
							<div class="flaticon-box-1"></div>
						</div>
						<div class="span-title">
							Lorem Ipsum #1
						</div>
						<div class="span-mode"></div>
					</div>

					<div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
						<div class="card-body">
							Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
							3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt
							laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin
							coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes
							anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
							occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard
							of them accusamus labore sustainable VHS.
						</div>
					</div>
				</div>
			</div>
		}

	</div>
</div>