@model panasonic.ViewModels.ReportViewModel.IndexViewModel;

@{
    ViewData["PanelTitle"] = "Material Reports";
}

@* table reponsive *@

<div class="card">
    <div class="card-body">
        <table id="multi-filter-select" class="table table-bordered dataTable no-footer dtr-inline table-hover"
            cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>No</th>
                    <th>Report Type</th>
                    <th>Created At</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var (report, index) in Model.MaterialTransactions.Select((value, index) => (value, index)))
                {
                    <tr>
                        <td>@(index + 1)</td>
                        <td>@report.Type</td>
                        <td>@report.CreatedAt.ToString("d MMMMM yyyy, HH:mm")</td>
                        <td><a class="btn btn-outline-primary btn-sm" asp-controller="MaterialTransaction"
                                asp-action="Detail" asp-route-id="@report.Id">Details</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts
{
    <script>
        $('#multi-filter-select').DataTable({
            "pageLength": 5,
            initComplete: function () {
                this.api().columns().every(function () {
                    var column = this;
                    var select = $('')
                        .appendTo($(column.footer()).empty())
                        .on('change', function () {
                            var val = $.fn.dataTable.util.escapeRegex(
                                $(this).val()
                            );

                            column
                                .search(val ? '^' + val + '$' : '', true, false)
                                .draw();
                        });

                    column.data().unique().sort().each(function (d, j) {
                        select.append('' + d + '')
                    });
                });
            }
        });

    </script>

}