@model panasonic.ViewModels.MaterialViewModel.CreateMaterialViewModel;

@{
    ViewData["PanelTitle"] = "Create New Material";
}



<div class="card">
    <div class="card-body">
        <form asp-controller="Material" asp-action="Create" method="post" enctype="multipart/form-data">
            <div class="mb-2">
                <div class="form-group">
                    <label>Material Name</label>
                    <input type="text" class="form-control" asp-for="Name">
                </div>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="mb-2">
                <div class="form-group">
                    <label>Unit Measurement</label>
                    <input type="text" asp-for="UnitMeasurement" class="form-control" />
                </div>
                <span asp-validation-for="UnitMeasurement" class="text-danger"></span>
            </div>
            <div class="mb-2">
                <div class="form-group">
                    <label>Detail Measurement</label>
                    <input type="text" asp-for="DetailMeasurement" class="form-control" />
                </div>
                <span asp-validation-for="DetailMeasurement" class="text-danger"></span>
            </div>
            <div class="mb-2">
                <div class="form-group">
                    <label>Detail Quantity</label>
                    <input type="text" asp-for="DetailQuantity" class="form-control" />
                </div>
                <span asp-validation-for="DetailQuantity" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
