@model panasonic.ViewModels.MaterialViewModel.CreateMaterialViewModel;

@{
    ViewData["PanelTitle"] = "Create New Material";
}



<div class="card">
    <div class="card-body">
        <form asp-controller="Material" asp-action="Create" method="post" enctype="multipart/form-data">
            <div class="mb-2">
                <div class="form-group row">
                    <label class="col-form-label col-sm-3">Material Name</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" asp-for="Name">
                        <span asp-validation-for="Name" class="text-danger form-text"></span>
                    </div>
                </div>
            </div>
            <div class="mb-2">
                <div class="form-group row">
                    <label class="col-form-label col-sm-3">Material Number</label>
                    <div class="col-sm-9">
                        <input type="number" class="form-control" asp-for="Number">
                        <span asp-validation-for="Number" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="mb-2">
                <div class="form-group row">
                    <label class="col-form-label col-sm-3">Unit Measurement</label>
                    <div class="col-sm-9">
                        <input type="text" asp-for="UnitMeasurement" class="form-control" />
                        <span asp-validation-for="UnitMeasurement" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="mb-2">
                <div class="form-group row">
                    <label class="col-form-label col-sm-3">Detail Measurement</label>
                    <div class="col-sm-9">
                        <input type="text" asp-for="DetailMeasurement" class="form-control" />
                        <span asp-validation-for="DetailMeasurement" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="mb-2">
                <div class="form-group row">
                    <label class="col-form-label col-sm-3">Detail Quantity</label>
                    <div class="col-sm-9">
                        <input type="text" asp-for="DetailQuantity" class="form-control" />
                        <span asp-validation-for="DetailQuantity" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
