<h4 class="fw-bold">Material Manager</h4>

<div class="card border-0 shadow-sm mb-3    ">
    <div class="card-body">
        <div class="card-title fs-4">Material Name</div>
        <div class="card-text">
            <p>Shift Leader :</p>
            <ul>
                <li>Kenny Aragon</li>
                <li>Fauzan</li>
            </ul>
        </div>
    </div>
</div>

<div class="card border-0 shadow-sm">
    <div class="card-body">
        <table class="table">
            <thead>
                <th>exp date</th>
                <th>arrival date</th>
                <th>quantity</th>
                <th>weight</th>
                <th></th>
            </thead>
            <tbody>
                <td>21-21-2111</td>
                <td>21-21-2111</td>
                <td>123231</td>
                <td>21321</td>
                <th>
                    <button class="btn btn-success">Edit</button>
                    <button class="btn btn-danger">Delete</button>
                </th>
            </tbody>
        </table>
    </div>
</div>