@model panasonic.ViewModels.ProductionLineViewModel.CreateViewModel;

@{
    ViewData["PanelTitle"] = "Add New Production Line";
}


<div class="card">
    <div class="card-body">
        <form asp-action="Create" method="post">
            @Html.AntiForgeryToken()
            <div class="form-group">
                <label for="">Line Remark</label>
                <input class="form-control" type="number" asp-for="Remark">
                <span class=" form-text text-danger" asp-validation-for="Remark"></span>
            </div>
            <div class="form-group">
                <label for="">Description</label>
                <textarea class="form-control" type="text" asp-for="Description">
                </textarea>
                <span class=" form-text text-danger" asp-validation-for="Description"></span>

            </div>
            <button class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
