@model panasonic.ViewModels.ProductionLineViewModels.ProductionLineViewModel;

@{
    ViewData["PanelTitle"] = "Edit Production Line";
}


<div class="card">
    <div class="card-body">
        <form asp-action="Edit" asp-route-id="@Model.ProductionLineDto.Id" method="post">
            @Html.AntiForgeryToken()
            <div class="form-group">
                <label for="">Line Remark</label>
                <input class="form-control" type="number" asp-for="ProductionLineDto.Remark"
                    value="ProductionLine.Remark">
                <span asp-validation-for="ProductionLineDto.Remark" class="text-danger form-text"></span>
            </div>
            <div class="form-group">
                <label for="">ProductionLine.Description</label>
                <textarea asp-for="ProductionLineDto.Description" class="form-control"></textarea>
                <span asp-validation-for="ProductionLineDto.Description" class="text-danger form-text"></span>
            </div>
            <button class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
