@model panasonic.ViewModels.ProductionLineViewModel.IndexViewModel;

@{
    ViewData["PanelTitle"] = "Manage Production Line";
}

@section PanelButtons {
    <a asp-controller="ProductionLine" asp-action="Create" class="btn btn-success btn-round">Add New Line</a>
}

<div class="card">
    <div class="card-body">
        <table class="table table-bordered table-hover text-center">
            <thead>
                <tr>
                    <th>Line</th>
                    <th>Description</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var line in @Model.ProductionLines)
                {
                    <tr>
                        <td>Line - @line.Remark</td>
                        <td>@line.Description</td>
                        <td>
                            <button class="btn btn-danger">Delete</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
