@model panasonic.ViewModels.ProductionLineViewModel.ManageViewModel;

@{
    ViewData["PanelTitle"] = "Production Line";
}

<div class="card">
    <div class="card-header">
        <div class="card-title">Users</div>
    </div>
    <div class="card-body">
        <div class="">
            <button class="btn btn-success">Add User</button>
        </div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Employee ID</th>
                    <th>Full Name</th>
                    <th>Role</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>
</div>
<div class="card">
    <div class="card-header">
        <div class="card-title">Materials</div>
    </div>
    <div class="card-body">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Material Name</th>
                    <th>Total Quantity</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var material in @Model.materials)
                {
                    <tr>
                        <td>@material.Name</td>
                        <td></td>
                        <td></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>