@model panasonic.ViewModels.MaterialInventoryViewModel.PreperationRoomViewModel;

@{
    ViewData["PanelTitle"] = "Materials In PreperationRoom";
}

<div class="card">
    <div class="card-body">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>No</th>
                    <th>Material Number</th>
                    <th>Material Name</th>
                    <th>Quantity</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var material in Model.MaterialInventories)
                {
                    <tr>
                        <td>1</td>
                        <td>Material - @material.Material.Number</td>
                        <td>@material.Material.Name</td>
                        <td>@material.Quantity</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>